@charset "UTF-8";
@font-face {
    font-family: 'fluo';
    src: url('../fontes/Fluo\ Gums.ttf') format('truetype');
}
@font-face {
    font-family: 'stella';
    src: url('../fontes/Stella\ Demo.otf') format('opentype'), url('../fontes/Stella\ Demo.ttf') format('truetype');
}
@font-face {
    font-family: 'redes';
    src: url('../fontes/GiveYouGlory-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: url('../imagens/background01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    padding: 15px 0;
    background-color: #006732;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
    margin: 0 auto;
    padding: 0;
}

.menu {
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: right;
    padding: 20px 40px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

.foto01 {
    margin-top: 50px;
    margin-left: 15%;
    width: 350px;
    height: 350px;
    border: 2px green solid;
    border-radius: 50%;
    background-image: url('../imagens/gael3x4-sem-fundo.png');
    display: inline-block;
}

.texto {    
    margin-top: 45px;
    margin-left: 15%;
    width: 400px;
    height: 350px;
}

.texto > h1 {
    font-family: 'stella';
    font-size: 5em;
    color: green;
    
}

.texto > h2 {
    font-family: 'stella';
    font-size: 4em;
    color: green;
}

.texto > h2#top {
    margin-top: 60px;
}

.texto > h2#right {
    text-align: right;
    margin-right: 20px;
}

div#apresentacao {
    display: inline-block;
    vertical-align: text-bottom;
    
}

.titulo-me-siga {
    width: 100vw;
    height: 200px;   
    margin-top: 8%; 
    background-color:rgba(144, 238, 144, 0.177);
    display: flex;
    justify-content: center;
}

.titulo-me-siga > h1 {
    font-family: 'redes';
    font-size: 5em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sociais {
    display: inline-block;
    margin-left: 10%;
    max-width: 90vw;
    align-items: center;
}

.redes-sociais {
    margin-top: 5%;
    margin-left: 5%;
}

.botaoyt {
    height: 130px;
    width: 130px;  
    border: 10px solid darkgreen; 
    border-radius: 50%;
    margin-top: 15%;
    background-image: url('../imagens/botao3d-youtube-p.png');
    background-size: cover;
}

.botaoinst {
    height: 130px;
    width: 130px;  
    border: 10px darkgreen solid; 
    border-radius: 50%;
    margin-top: 15%;
    background-image: url('../imagens/botao3d-instagram-p.png');
    background-size: cover;
}

.botaoface {
    height: 130px;
    width: 130px;  
    border: 10px darkgreen solid; 
    border-radius: 50%;
    margin-top: 15%;
    background-image: url('../imagens/botao3d-facebook-p.png');
    background-size: cover;
}

.siga {
    height: 120px;
    width: 230px;
    margin-top: 7%;
    display: flex;
    justify-content: center ;
    align-items: bottom;
}

.siga > h1 {
    font-family: 'stella';
    font-size: 3.5em;
    color: #019a29;
    padding: 0;
    text-decoration: none;
}

footer {
    width: 100vw;
    background-image: url('../imagens/banner03.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'redes';
    font-size: 12px;
}


